version: '3.8'

services:
  # 1. Database Service
  mongo:
    image: mongo:latest
    container_name: cosmic_mongo
    restart: always
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db

  # 2. Backend Service
  backend:
    build: ./backend
    container_name: cosmic_backend
    restart: always
    ports:
      - "5000:5000"
    environment:
      - PORT=5000
      - MONGO_URI=mongodb://mongo:27017/cosmicwatch
      - JWT_SECRET=cosmic_super_secret_key_2024
      - NASA_API_KEY=GNigUVgSF0vwbMe0wv5GO4J9SGteq6H4ODYf3PPM  # We will update this later
      - CLIENT_URL=http://localhost:3000
    depends_on:
      - mongo
    volumes:
      - ./backend:/app
      - /app/node_modules

  # 3. Frontend Service
  frontend:
    build: ./frontend
    container_name: cosmic_frontend
    restart: always
    ports:
      - "3000:80"
    depends_on:
      - backend
    environment:
      - VITE_API_URL=http://localhost:5000

volumes:
  mongo-data: